@page "/"

<PageTitle>Index</PageTitle>
<div class="card-title">
<h1>Bonjour, ceci sera le futur titre</h1>
<h3>IL Y AURA SANS DOUTE UNE BREVE INTOR</h3>
<p>pEUT PETRE UNE PEU DE TEXTE</p>
</div>
<BlogPost />

<h3>Je suppose qu'ici il y aura du blabla</h3>
<p>blabla !!! </p>
