@using Blazor_Blog_Jean.Shared
@using Markdig
@inject Blazor_Blog_Jean.Client.Services.IBlogService BlogService

@page "/posts/{url}"

@if(CurrentPost == null)
{
    <span>Chargement ...</span>
}
else
{
    <h3>@CurrentPost.Title</h3>
    <div>
        <img src="@CurrentPost.Image" />
    </div>
    <div>
        @((MarkupString)Markdown.ToHtml(CurrentPost.Content))
    </div>
}

@code {
    private Article CurrentPost;

    [Parameter]
    public string Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogService.GetBlogPostByUrl(Url);
    }
}
