@using Blazor_Blog_Jean.Shared
@using Markdig
@using System.ComponentModel.DataAnnotations;

@page "/update"
@inject Blazor_Blog_Jean.Client.Services.IBlogService BlogService
@inject NavigationManager NavigationManager

@attribute [Authorize]

<h3>MAJ post</h3>

<EditForm Model ="@url" OnValidSubmit="FindBlogPostByUrl">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="title">Url</label>
        <InputText id="url" @bind-Value="url.Url" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>  
    <ValidationSummary />
</EditForm>

@code {

    public class UrlModel
    {
        [Required]
        [StringLength(255, ErrorMessage = "Name is too long.")]
        public string Url { get; set; }
    }

    UrlModel url = new UrlModel();

    async Task FindBlogPostByUrl()
    {
        var result = await BlogService.GetBlogPostByUrl(url.Url);
        NavigationManager.NavigateTo($"posts/{result.Url}");
    }

}
