@using Blazor_Blog_Jean.Shared
@inject Blazor_Blog_Jean.Client.Services.IBlogService BlogService

<div class="container">
    <div class="row">
@for (var i = 0; i < Posts.Count && i < 3; i++)
{
            <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="@Posts[0].Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Posts[0].Title</h5>
                    <p class="card-text">@Posts[0].Description</p>
                    <a href="/posts/@Posts[0].Url" class="btn btn-primary">Lire plus...</a>
                </div>
            </div>
        </div>
}
        </div>
 </div>

@code {
    private List<Article> Posts = new List<Article>();

    protected override async Task OnInitializedAsync()
    {
        Posts = await BlogService.GetBlogPosts();

    }
}